@import '../../styles/colors';

.form-container{
    height: 430px;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form-title{
        height: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        h1{
            margin: 0;
            color: $background-letters;
            font-size:large;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .form-main-info{
        width: 100%;
    
        .form-info{

            .label-div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap:5px;
                width: 100%;
                margin:25px 0px;
                
                label{
                    color: $background-letters;
                    display: flex;
                    // justify-content: flex-start;
                    gap:20px;
                    
                    .error{
                        color: red;
                        font-size: smaller;
                    }
                }

                input{
                    height: 30px;
                    width: 96%;
                    border-radius: 5px;
                }              
            }
        }
    }
    
    .cuenta-nueva{
        &:hover{
            text-decoration: underline;
            cursor:pointer;
        }
    }

    .form-submit{
        height: 18%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .submit-button{
            width: 70pt;
            height: 31pt;
            border-style: none;
            font-size: 12pt;
            background-color: $theme-color;
            color: $theme-letters;
            border-radius: 12pt;
        }

    }
}

.error{
    color: red;
    font-size: smaller;
}