
.card {
    position: relative;
    margin: 15px auto;
    width: 400px;
    padding: 20px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    border: 0;
    background-color: white;
    
    
    
        &__artist {
            display: flex;
            flex-wrap: nowrap;

            
            &--img {
                    width: 160px;
                    height: 160px;
                    object-fit: cover;
                    border-radius: 15px;
                }

        
            &--info{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: left;
                padding:10px;
                
        
                &--name {
                    margin-bottom: 15px;
                    font-weight: bolder;
                }
        
                &--date {
                }
             
            }
        }
    }