@import '../../styles/_colors.scss';

.concertsPage{
    width: 100%;
    background: $background;

    .header{
        width: 100%;
         display: flex;
        justify-content: center;
        align-items: flex-end;

    }

    .main{
        height: 75%;
        width: 100%;
        background: $background-color;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .slider-container{
            border: none;
            height: 84%;
            width: 100%;
        }
    
        .slider{
            margin: 0px 10px;
            display: flex;
            flex-direction: column;
        }
        
        .concerts-button__container{

            .concerts-button {
                &.selected{
                    background-color: $theme-color;
                    border: solid 4px $theme-selected;
                }

                width: 70pt;
                height: 31pt;
                border-style: none;
                font-size: 12pt;
                margin: 20px;
                background-color: $theme-color;
                color: white;
                border-radius: 12pt;
            }
        }

    }

    .footer{
        height: 15%;
        width: 100%;
        background-color: $theme-color;
    }
}