@import '../../styles/_colors.scss';
  
  .header {
    display: block;
    margin: auto;
    
    position: relative;
    min-width: 300px;
    border: 0px solid #000;

    &-button__container{

      &.concerts-button {
          &.selected{
              background-color: $theme-color;
              border: solid 4px $theme-selected;
          }
  
          width: 70pt;
          height: 31pt;
          border-style: none;
          font-size: 12pt;
          margin: 20px;
          background-color: $theme-color;
          color: white;
          border-radius: 12pt;
      }
  }
    
    &__Title{
        color: white;
        display: inline-block;
        margin-top: 1rem;
    }
  }
  
  .noot-1,
  .noot-2,
  .noot-3,
  .noot-4 {
    position: absolute;
    animation: notes 2s infinite linear;
    font-size: 35px;
    opacity: 0;
  }
  
  .noot-1 {
    top: 40px;
    left: 0;
    animation-delay: 1.5s;
  }
  
  .noot-2 {
    top: 49px;
    left: 30%;
    bottom: 50px;
    animation-delay: 1s;
  }
  
  .noot-3 {
    top: 50px;
    left: 69%;
    animation-delay: 1.5s;
  }
  
  .noot-4 {
    top: 15px;
    left: 82%;
    bottom: 50px;
    animation-delay: 2s;
  }
  
  @keyframes notes {
    0% {
      transform: scale(1) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: scale(1.5) translate(50%, -50%);
    }
    80% {
      opacity: 0;
      transform: scale(1.5) translate(100%, -100%);
    }
    100% {
      transform: scale(1.5) translate(100%, -100%);
      opacity: 0;
    }
  }