.home {
    background: linear-gradient(177deg, #005eb8 0%, #00ff88 64%);
    // position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    font-family: "Oxygen";
    font-weight: bold;
    display: flex;
    flex-direction: column;

    &__title h2{
        color: white;
        font-size: 12pt;
    }
    &__title h1{
        color: rgb(234, 241, 4);
    }
    
    &__button {
        width: 70pt;
        height: 31pt;
        border-style: none;
        font-family: "Oxygen";
        font-weight: light;
        font-size: 10pt;
        margin: 20px;
        background-color: #38dbb8;
        color: white;
        border-radius: 12pt;
    }

    &__container{

        &--buttons{
            display: flex;
            justify-content: center;
        }
    }


};
