.home {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    
    &button {
        background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
        border-width: 2px;
        border-style: none;
        font-size: 300px;
    }


    &__categories {

        &--title {
            font-size: 16pt;
        }
    }
}