.home {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    font-family: "RedHat";
    
    &__button {
        border-width: 2px;
        border-style: none;
        font-size: 20px;
        margin: 20px;
    }


    &__categories {

        &--title {
            font-size: 16pt;
            margin: 20px;
        }
    }
}