.home {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    // position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    font-family: "Oxygen";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    
    &__button {
        border-width: 2px;
        border-style: none;
        font-size: 20px;
        margin: 20px;
        background-color: white;
    }


    &__categories {

        &--title {
            font-size: 16pt;
            margin: 20px;
        }
    }
}