body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "RedHat";
  src: local("RedHat"),
   url("./fonts/RedHat/static/RedHatDisplay-Regular.ttf") format("truetype");
  }

@font-face {
    font-family: "Raleway";
    src: local("Raleway"),
     url("./fonts/Raleway/static/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oxygen";
  src: local("Oxygen"),
   url("./fonts/Oxygen/Oxygen-Regular.ttf") format("truetype");
}