$theme-color:  #1cdb1c; 
$theme-letters: rgb(255, 255, 255);
$theme-selected:  #e7cbff;

$background-color: rgb(255, 255, 255);
$background-letters: #110033;
$background: linear-gradient(177deg, #005eb8 0%, #00ff88 64%);
$theme-h2: #014901;