.slider-container{

    margin: 0 auto;
    overflow-x: hidden;
}

.slider{
    display: flex;
    cursor: grab;

}

.slider-img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    pointer-events: none;
    box-shadow: 3px 3px 6px 2px #000000ad;
}

.slider-item{
    margin-left: 1rem;
    
}

.slider-h1{
    color: white;
}


