@import '../../styles/_colors.scss';

.concerts-gallery{
    width: 100%;
    margin-bottom: 30px;

    &__date{
        text-align: start;
        font-size: large;
        margin-left: 10px;
    }

    .concert{
        display: flex;

        &__img{
            width: 80px;
            height: 80px;
            margin:10px;

            img{
                width: 80px;
                height: 80px;
                object-fit: cover;
            }
        }

        &__info{
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding:12px;

            &--1{
                // display: flex;
                // justify-content: start;
                // align-items: center;
                text-align: start;
                
                &-hall{
                    text-transform: uppercase;
                    color:$background-letters;
                    margin: 0px;
                    font-size: small;
                }

                &-city{
                    margin: 0px;
                    font-size: x-small;
                    color:rgb(65, 62, 62);
                }

            }

            &--2{
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2{
                    margin: 0px;
                    font-size: small;
                }

                button{
                    width: 84px;
                    height: 24px;
                    border-style: none;
                    font-size: 10pt;
                    background-color: $theme-color;
                    border: solid 3px $theme-color;
                    color: $theme-letters;
                    border-radius: 12pt;

                    cursor: pointer;

                    &:hover{
                        background-color: $theme-selected;
                        border: solid 3px $theme-color;
                    }
                }
            }

            &--3{
                display: flex;
                justify-content: space-between;

                .genre{
                    margin: 0px 4px;
                    font-size: x-small;
                }
                
                .price{
                    margin: 0px;
                    margin-right: 10px;
                }   
            }
        }
    }
}
