@import '../../styles/colors';

.header-and-back{
    width: 100%;
    height: 100%;
    background-color: $theme-color;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    .img-container{
    //     width: 37px;
    //     height: 37px;

        position: absolute;
        top: 50%;
        transform: translate(0, -45%);
        left: 20px;

    //     font-size: xx-large;
    //     font-weight: bolder;
    //     font-family: 'Inter', sans-serif;
        
    //     border-radius: 8pt;

    //     &:hover{
    //         background-color: rgba(255, 255, 255, 0.362);
    //     }
    }

    h1{
        font-size: x-large;
        color: $theme-letters;
    }
}